@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<hr />
@*     <section id="form" style="margin-top: 0; margin-bottom: 8rem">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" id="login-submit" style="height: 4rem" class="btn btn-default">Reset Password</button>
            <button style="height: 4rem" type="submit" class="btn btn-default">Signin</button>
        </form>
    </section> *@

    <div class="row">
        <section id="form" style="margin-top: 0; margin-bottom: 8rem">
            <!--form-->
            <div class="container">
                <div style="display: flex; justify-content: center">
                    <div class="signup-form"
                         style="max-width: 700px;
					width: 100%; padding: 20px;
					border: 1px solid #ccc;
					border-radius: 5px;">
                        <!--sign up form-->
                        <h2 class="text-center">Forgot your password?</h2>
                        <h2>Enter your email.</h2>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert" style="margin-left: -35px"></div>
                        <form id="account" method="post" style="justify-content: center; display: flex; flex-direction: column">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" id="login-submit" style="height: 4rem" class="btn btn-default">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </section><!--/form-->
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
